* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #FBB47B;
    color: #fff;
    height: 70px;
}
/*
img {
    max-width: 100%; 
    height: auto; 
}
*/

.logo img {
    width: 40px;
    margin-right: 20px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.pesquisa {
    display: flex;
    align-items: center;
    margin-left: auto;
    overflow: hidden;
    border-radius: 5px;
}

.pesquisa input {
    padding: 10px 15px; 
    font-size: 16px; 
    border: 1px solid #FBB47B; 
    border-radius: 5px 0 0 5px; 
    outline: none; 
}

.button-form {
    padding: 10px 15px; 
    background-color: #fff97e; 
    border: none; 
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
}

.container {
    display: flex;
    margin: auto;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.card {
    background-color: #fff97e;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 20px;
}

.card h2 {
    margin-top: 0;
    color: #000000;
}

.card p {
    color: #777777;
}

.card ul {
    padding-left: 20px;
    color: #444;
}

.card li {
    margin-bottom: 8px;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;            
    padding: 10px 20px;             
    background-color: #FBB47B;      
    border-top: 1px solid #ccc;   
    height: 60px;  
}

footer div {
    flex: 1;                        
}

footer div p {
    margin: 0;                      
    font-size: 16px;                
    color: #fff;                   
}

.e {
    display: flex;
}

.d {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
}

.details {
    display: none; 
}


